__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/

.venv/
# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
#.claude/
# Jupyter / IPython
.ipynb_checkpoints

# VS Code / IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log

# Local data / cache
.cacche/